/* You can add global styles to this file, and also import other style files */
.success-snackbar {
  background: rgb(42, 161, 42);
  color:white;
}

.error-snackbar {
  background: rgb(192, 37, 37);
  color:white;
}